@CHARSET "UTF-8";

body{
	background: url(/design/img/login.jpg);
}

.fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
}
.center {
    display: block;
    margin: auto;
}

.gear-icon {
	height: 30px;
	width: 30px;
	margin-top: 10px;
	margin-left: auto;
}
/*
*
#id
.class

a,b - same style
a b - b under a
a>b - b right under a
a+b - b after a
ab 	- b in a
*/

.delete_button {
	height: 20px;
	width: 20px;
	float: right;
}