<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <a class="navbar-brand" href="#">Gift Sugguestion</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
   <ul class="nav navbar-nav">
    <li class="active"><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="../gift/logout/process">Logout</a></li>
     <!--
    <li class="dropdown">
     <img src="../design/img/gear.png" class="dropdown-toggle gear-icon" data-toggle="dropdown" role="button"></img>
     <img src="../img/gear.png" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></img>
     <ul class="dropdown-menu">
      <li><a href="account.html">Account</a></li>
      <li><a href="#">Language</a></li>
      <li><a href="#">Background</a></li>
     </ul>
    </li>
     -->
   </ul>
  </div><!--/.nav-collapse -->
 </div>
</nav>